<!-- jQuery -->
    <script src="__AD__/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__AD__/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__AD__/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="__AD__/vendor/raphael/raphael.min.js"></script>
    <script src="__AD__/vendor/morrisjs/morris.min.js"></script>
    <script src="__AD__/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__AD__/dist/js/sb-admin-2.js"></script>